.formControl.error input,
.formControl.error textarea {
    border: 1px solid red;
}

.formControl.error span {
    color: red;
}


.formSummaryError {
    border: 2px solid green;
    padding: 5px;
    color: red;
}