.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    color: white;
    padding: 10px;
}

.dialog .active {
    text-decoration: none;
    color: white;
}

.dialogItems .active {
    color: gold;
}

.dialog {

}

.messages {

}

.message {
    color: white;
}

.FIELD {
    outline: none;
    border-radius: 6px;
    width: 150px;
    height: 50px;
}